@import url('https://fonts.googleapis.com/css?family=MuseoModerno');
@import url('https://fonts.googleapis.com/css?family=Mulish');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    display: flex;
}

:root {
    /*colors*/
        /* base colors */
        --white: #fff;
        --black: #140B0B;
        --darkGrey: #838383;
        --lightGrey: #DADADA;
        --teamBlue: #A4C8E9;
        --teamGreen: #9fc798;
        --teamYellow: #F3EA9C;

        /* secondary colors */
        --secondaryRed: #DE2B2B;
        --secondaryLightGreen: #A6D49F;
        --secondaryDarkGreen: #325740;
        --secondaryLightBlue: #78A7D2;
        --secondaryDarkBlue: #457AAA;
        --secondaryLightYellow: #EBD55F;
        --secondaryDarkYellow: #F9D727;

    /*fonts*/
      /*family*/
      --headings: 'MuseoModerno', 'Helvetica', Sans-Serif;
      --paragraphs: 'Mulish', 'Helvetica', Sans-Serif;

      /*sizes*/
      --h1: 2rem;
      --h2: 1.5rem;
      --p: 1rem;

      /*padding*/
      --rem1: 1rem;
      --rem2: 2rem;

      /*width heights*/
      --max-w: 100vw;
      --max-h: 100vh;
      --navbar-width: 256px;
      --navbar-width-min: 80px;
}

h1, h2, h3, h4{
  font-family: var(--headings);
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
p{
  font-family: var(--paragraphs);
  font-size: var(--p);
}

/* Side Bar Styling */
#nav-toggle:checked ~ #nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}

#nav-toggle:checked ~ #nav-header #nav-title,
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox,
#nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"],
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s;
}

#nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
  background: var(--secondaryDarkBlue);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger::before,
#nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--white);
  transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}

.nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-family: var(--paragraphs);
  overflow: hidden;
  user-select: none;
}

.nav-bar hr {
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--white);
}

.nav-bar a {
  color: inherit;
  text-decoration: inherit;
}

.nav-bar input[type="checkbox"] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  padding-left: 1rem;
  min-height: 80px;
  background: var(--secondaryDarkBlue);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width .2s;
}

#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for="nav-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--white);
  border-radius: 99px;
}

#nav-toggle-burger::before,
#nav-toggle-burger::after {
  content: '';
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--secondaryDarkBlue);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: .2s;
}

#nav-toggle-burger::after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--secondaryDarkBlue);
  box-shadow: 0 0 0 16px var(--secondaryDarkBlue);
  direction: rtl;
  overflow-x: hidden;
  transition: width .2s;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

#nav-content::-webkit-scrollbar-button {
  height: 16px;
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--white);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color .2s;
}

.nav-button span {
  transition: opacity 1s;
}

.nav-button .fas {
  transition: min-width .2s;
}

.nav-button:hover {
  color: var(--secondaryDarkBlue);
  background-color: var(--white);
}

.nav-button:hover ~ #nav-content-highlight {
  top: calc(var(--navbar-width) - 54px);
}

.nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--secondaryDarkBlue);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width .2s, height .2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: .2s;
}

#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
  height: 30%;
  min-height: 54px;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
  transform: rotate(180deg);
}

label[for="nav-footer-toggle"] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform .2s, opacity .2s;
}

/* page Styling */

.sidebar {
  float: left; 
}

.overview {
  margin-left: var(--navbar-width); 
  padding: var(--rem2);
}

.overview .role{
  color: var(--darkGrey);
}
.card-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  min-height: 285px;
  /* height: 295px; */
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
}

.card picture {
    width: 100%;
    height: 100%;
    background-color: #5AB4F5;
    max-height: 164px;
    overflow: hidden;
    border-radius: 4px;
  }
  .card picture img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: relative;
  }

  .card .text-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }